asgiref==3.2.3
astroid==2.3.1
attrs==19.3.0
bandit==1.6.2
blis==0.2.4
certifi==2022.12.7
chardet==3.0.4
ChatterBot==1.0.5
Click==7.0
cymem==2.0.3
dj-database-url==0.5.0
Django==3.0.2
django-bower==5.2.0
django-crispy-forms==1.9.0
django-currentuser==0.5.0
django-heroku==0.3.1
django-scheduler==0.9.3
django-tinymce4-lite==1.7.5
Flask==1.1.1
Flask-Script==2.0.5
Flask-SocketIO==0.4.1
gevent==1.4.0
gevent-socketio==0.3.6
gevent-websocket==0.10.1
gitdb2==3.0.2
GitPython==3.0.8
greenlet==0.4.15
gunicorn==19.1.1
icalendar==4.0.4
idna==2.8
importlib-metadata==1.1.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jsmin==2.2.2
lazy-object-proxy==1.4.2
MarkupSafe==1.1.1
mathparse==0.1.2
mccabe==0.6.1
more-itertools==8.0.0
murmurhash==1.0.2
nltk==3.4.5
numpy==1.17.4
packaging==19.2
pbr==5.4.4
Pint==0.9
plac==0.9.6
pluggy==0.13.1
preshed==2.0.1
psycopg2==2.8.4
py==1.8.0
PyJWT==1.5.0
pylint==2.4.4
pymongo==3.9.0
pyparsing==2.4.5
PySocks==1.7.1
pytest==5.3.1
python-dateutil==2.7.5
python-dotenv==0.10.3
python-engineio==3.10.0
python-socketio==4.4.0
pytz==2019.3
PyYAML==5.1.2
redis==2.10.3
requests==2.22.0
six==1.12.0
smmap2==2.0.5
spacy==2.1.9
spotipy==2.4.4
SQLAlchemy==1.2.19
sqlparse==0.3.0
srsly==0.2.0
stevedore==1.32.0
thinc==7.0.8
tqdm==4.39.0
twilio==6.5.0
typed-ast==1.4.0
urllib3==1.25.6
virtualenv==16.7.5
wasabi==0.4.0
wcwidth==0.1.7
Werkzeug==0.16.0
whitenoise==5.0.1
wrapt==1.11.2
zipp==0.6.0
